.Login {
  margin: auto;
  margin-top: 5vh;
  width: 90%;
  border: 2px #bbb solid;
  border-radius: 2%;
}

.Login-form {
  padding: 10px;
  display: flex;  
  flex-direction: column;
  justify-content: space-between;  
}

.Form-group {
  display: flex;
  flex-direction: column;
}

.Form-label {
  margin: 10px 0px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  text-align: left;
}

.Form-input {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
}

.Login-form > .Form-group > button {
  margin-top: 10px;
  padding: 5px;
  background-color: deepskyblue;
  color: #fff;
  font-size: 24px; 
}

.Login-form > .Form-group > button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.Login-form > .Form-group > a {
  margin: 5px 0px;
  padding: 5px;
  background-color: #fff;
  color: deepskyblue;
  border: 2px solid deepskyblue;
  border-radius: 2%;
  font-size: 18px;
  text-align: center;
}

.Login-form > .Form-group > a:hover {
  cursor: pointer;
}

.Error {
  color: red;
  text-align: left;
}

@media (min-width: 680px) {
  .Login {
    margin-top: 10vh;
    width: 500px;
  }
}